.button {
  font-family: $font-alt;
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0.05em;
  border: 1px solid #ffffff;
  border-radius: 5px;
  padding: 14px 27px 13px 26px;
  text-transform: uppercase;
}
