.main-block {
  display: flex;
  justify-content: space-between;

  @media (max-width: $tablet-width) {
    overflow: hidden;
  }
}

.main-block__container-text {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  @media (max-width: $tablet-width) {
    margin: 0 -20px 0 0;
    z-index: 15;
    flex-shrink: 0;
  }

  @media (max-width: $mobile-width) {
    flex-shrink: 1;
    margin: 114px auto 0 auto;

    &::before {
      position: absolute;
      content: "";
      width: 457px;
      height: 476px;
      background-image: url("../img/triangles.svg");
      background-size: contain;
      background-repeat: no-repeat;
      top: -2px;
      right: -320px;
    }
  }
}

.main-block__container-text p {
  position: relative;
  margin: 0 0 28px 0;
  padding-top: 316px;
  order: -1;
  font-family: $font-alt;
  font-size: 80px;
  font-weight: 700;
  line-height: 94px;
  letter-spacing: 0.07em;
  text-transform: uppercase;
  z-index: 10;

  @media (max-width: $tablet-width) {
    width: 340px;
    padding-top: 201px;
    font-size: 60px;
    line-height: 70px;
  }

  @media (max-width: $mobile-width) {
    width: auto;
    margin: 212px 0 26px 0;
    padding: 0;
    font-size: 40px;
    line-height: 47px;
  }
}

.main-block__container-text h1 {
  position: relative;
  width: 720px;
  margin: 0 0 44px 0;
  padding-left: 98px;
  font-size: 22px;
  font-weight: 400;
  line-height: 34px;
  z-index: 10;

  @media (max-width: $tablet-width) {
    padding-left: 50px;
    margin-bottom: 56px;
    width: 445px;
    font-size: 18px;
    line-height: 28px;
  }

  @media (max-width: $mobile-width) {
    width: 280px;
    margin-bottom: 40px;
    font-size: 16px;
    line-height: 25px;
  }

  &::before {
    position: absolute;
    content: "";
    width: 66px;
    height: 2px;
    background-color: $color-1;
    left: 2px;
    top: 16px;

    @media (max-width: $tablet-width) {
      width: 33px;
    }
  }
}

.main-block__consultation {
  position: relative;
  width: 407px;
  height: 55px;
  padding: 16px 45px 19px 44px;
  margin: 0 0 131px 98px;
  font-family: $font-alt;
  font-weight: 700;
  line-height: 19px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  background-color: $color-2;
  border-radius: 5px;
  z-index: 10;
  cursor: pointer;

  &:hover {
    background-color: #ffffff;
    color: $color-2;
  }

  @media (max-width: $tablet-width) {
    width: 379px;
    margin-bottom: 164px;
    margin-left: 50px;
    padding: 17px 32px 18px 30px;
  }

  @media (max-width: $mobile-width) {
    width: 287px;
    margin: 0 0 70px 0;
  }

  &::before {
    position: absolute;
    content: "Получить бесплатную консультацию";
    width: 351px;
    height: 24px;

    @media (max-width: $mobile-width) {
      content: "Бесплатная консультация";
      left: 34px;
    }
  }
}

.main-block__scroll {
  margin: 0 0 127px -35px;
  font-size: 14px;
  line-height: 16px;
  transform: rotate(270deg);
  opacity: 0.5;
  cursor: pointer;

  @media (max-width: $tablet-width) {
    display: none;
  }
}

.main-block__container-img {
  position: relative;

  &::before {
    position: absolute;
    content: "";
    width: 610px;
    height: 617px;
    background-image: url("../img/triangles.svg");
    background-size: contain;
    background-repeat: no-repeat;
    top: 273px;
    right: 110px;
  }

  @media (max-width: $tablet-width) {
    max-width: 420px;
    margin: 0 0 0 -4px;

    &::before {
      width: 480px;
      height: 471px;
      top: 95px;
      right: -169px;
    }
  }

  @media (max-width: $mobile-width) {
    position: absolute;
    margin: 103px 0 0 0;
    padding: 0 0 0 14px;
    right: 0;
    z-index: 16;

    &::before {
      display: none;
    }
  }
}

.main-block__container-img img {
  position: relative;
  width: 100%;
  height: auto;
  padding: 260px 29px 0 0;
  // z-index: 10;

  @media (max-width: $tablet-width) {
    padding: 127px 0 0 0;
  }

  @media (max-width: $mobile-width) {
    width: 290px;
    margin: 30px 0 0 0;
    padding: 0;
  }
}
