.page-main {
  color: $color-1;
  scroll-behavior: smooth;
}

.page-main__wrap {
  background-color: $color-3;
  background-image: url("../../img/background-desktop.png");
  margin: -106px 0 0 0;
}

.page-main__main-block {
  max-width: 1623px;
  margin: 0 auto;
  padding: 0 0 0 100px;

  @media (max-width: $tablet-width) {
    padding: 0 0 0 89px;
  }

  @media (max-width: $mobile-width) {
    padding: 0 15px 0 16px;
  }
}

.page-main__container {
  overflow-x: hidden;
}

.page-main__advantages {
  margin: 112px auto 76px auto;

  @media (max-width: $tablet-width) {
    margin: 53px auto 24px auto;
  }

  @media (max-width: $mobile-width) {
    margin: 37px auto 32px auto;
  }
}

.page-main__about-company {
  margin: 0 auto;
}
