.page-footer__wrap {
  display: flex;
  flex-wrap: wrap ;
  width: 1460px;
  margin: 66px auto 0 auto;
}

.page-footer__block {
  margin-right: 209px;
  margin-left: 22px;
}

.page-footer__logo {
  margin-bottom: 52px;
}

