.page-main {
  color: $color-1;
  overflow: hidden;
}

.page-main__wrap {
  background-color: $color-3;
  background-image: url("../../img/background-desktop.png");
  margin: -106px 0 0 0;
}

.page-main__main-block {
  max-width: 1623px;
  margin: 0 auto;
  padding: 0 0 0 100px;

  @media (max-width: $tablet-width) {
    padding: 0 0 0 89px;
  }

  @media (max-width: $mobile-width) {
    padding: 0 15px 0 16px;
  }
}

.page-main__advantages {
  margin-top: 109px;

  @media (max-width: $tablet-width) {
    margin-top: 53px;
  }

  @media (max-width: $mobile-width) {
    margin-top: 37px;
  }
}
