.social-list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.social-item {
  position: relative;

  &::before {
    position: absolute;
    content: "";
    width: 27px;
  }
}

.social-list__item {
  margin-right: 15px;
}

.social-list__item:last-child {
  @media (max-width: $tablet-width) {
    margin-right: 0;
  }
}
