$mobile-min-width: 320px;

$mobile-width: 767px;

$tablet-width: 1023px;

$desktop-width: 1024px;

$color-1: #ffffff;

$color-2: #00b2ff;

$color-3: #1b2d37;

$color-4: #788891;

$color-5:  #626962;

$batton-show: #c4c4c4;

$color-text: #666666;

$color-border: #ebebeb;

$font-alt: "Roboto Condensed", "Arial", sans-serif;

$font-logo: "Roboto ", "Arial", sans-serif;
