$mobile-min-width: 320px;

$mobile-width: 767px;

$tablet-width: 1023px;

$desktop-width: 1024px;

$color-1: #ffffff;

$color-2: #00B2FF;

$color-3: #1B2D37;

$color-4: #788891;

$font-alt: "Roboto Condensed", "Arial", sans-serif;

$font-logo: "Roboto ", "Arial", sans-serif;
